<div class='container'>
	<a href='/provider/'>Provider</a>
</div>

<div class='container'>
	<a href='/provider-edge/'>ProviderEdge</a>
</div>

<div class='container'>
	<a href='/customer-edge/'>CustomerEdge</a>
</div>

<div class='container'>
	<a href='/switch/'>Switch</a>
</div>

<div class='container'>
	<a href='/create-p/'>Add Provider</a>
</div>

<div class='container'>
	<a href='/add-pe-without-client/'>Add Provider Edge Without Client</a>
</div>

<div class='container'>
	<a href='/add-client-to-pe/'>Add Client to Provider Edge</a>
</div>

<div class='container'>
	<a href='/add-pe-with-client/'>Add Provider Edge With Client</a>
</div>

<div class='container'>
	<a href='/communicate-vrfs-in-pe/'>Communicate VRFs in Provider Edge</a>
</div>
